@import 'pages-styles/mixins';
@import 'pages-styles/variables';
@import 'pages-styles/index';
@import 'pages-styles/productos';
@import 'pages-styles/contacto';
@import 'pages-styles/nosotros';
@import 'pages-styles/faq';
@import 'pages-styles/footer';
@import 'pages-styles/media-query';
@import 'pages-styles/animaciones';

.jersey-15-regular {
    font-family: $tipografia-primaria, $tipografia-secundaria;
    font-weight: 400;
    font-style: normal;
}