@import 'pages-styles/mixins';
@import 'pages-styles/variables';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
body {
    background-color: $secondary-back-ground;
}
/* Estilo de tipografía */
h1 {font-size: 3.5em;}
h2 {font-size: 2.7em;}
h3 {font-size: 2em;}
p {font-size: 1.25em;}
ul {list-style: none;}
li {font-size: 1.25em;}

/* Estilos de navbar */
.navbar-custom, .bg-navbar-custom {
    background-color:$primary-back-ground;
}

.navbar-brand-custom {
    font-size: 50px;
    color: $navbar-color;
    font-family: $tipografia-primaria , $tipografia-secundaria;
}

.nav-link-custom {
    font-family: sans-serif;
    font-size: 20px;
    margin-left: 33px;
    color: $secondary-color;
}

/* Estilo de button */
button {
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 12px;
    border: 1px solid black;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: $color-button;

    &:hover {
        background-color: $color-button-hover;
    }
}


/* Estilo de hero */
#hero {
    @include flex (column,center,center);
    text-align: center;
    height: 90vh;
    color: $secondary-color;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imagenes/hero-mouse.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    h1{
        color:$secondary-color;
    }
    button{
        font-size: 1.75em;
    }
}



#somos-gamecorp{
    .container {
        text-align: center;
        padding: 200px 12px;
        color: rgb(223, 217, 217);
    }
} 

/* Estilos de sección "Nuestros Productos" */
#nuestros-productos {
    background-color: rgb(30, 30, 30);
    color: $secondary-color;
    border: 1px solid rgb(184, 16, 240);
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 200px;
}

.carta {
    width: 100%;
    height: auto;
    background-color: #2d2d2d;
    color: $secondary-color;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid rgba(142, 17, 195, 0.3);
    margin-bottom: 20px;
    text-align: center;

    img{
        width: 100%;
        border-radius: 10px;
    }
    h3{
        margin-top:10px;
    }
    button{
        margin-top: 20px;
        background-color: $color-button;
        color: $secondary-color;
        padding: 10px 20px;
        border-radius: 10px;
        font-family: sans-serif;
        &:hover{
            background-color: $color-button-hover;
        }
    }
}


#nuestros-productos {
    .carta {
        img {
            max-width: 100%;
            height: auto;
        }
    }
}


.container{
    h2 {
        color: #372048;
        text-align: center;
        padding-top: 1.2em;
        font-family: $tipografia-primaria , $tipografia-secundaria;
    }
} 

/* Estilo de productos */
.productos {
    @include flex (column,center,center);
    padding-bottom: 1em;
    text-align: center;
    .producto {
        border-radius: 10px;
        border: 2px solid black;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
        color: $secondary-color;
        margin-top: 2em;
        text-align: center;
        background-color: $primary-back-ground;

        p{
            font-size: 1.2em;
        }
        h3{
            font-size: 2em;
        }
        img{
            border-radius: 12px;
            max-width: 100%;
            height: auto;
            border: 2px solid rgba(142, 17, 195, 0.3);
        }
    }
    button{
        font-size: 1.1em;
        margin: 0 auto;
    }
}


/* Estilo de contacto */
button[type="submit"] {
    font-size: 1em;
    margin-top: 0.7em;
}

/* Estilos de redes sociales */
.contact-card {
    background-color: $secondary-color;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 0.5em;

    a{
        color: $secondary-color;
    }
    h2{
        font-family: $tipografia-primaria , $tipografia-secundaria;
        color: #c594ea;
    }
    iframe{
        width: 300px;
        height: 300px;
        padding: 0;
    }
}

div{
    a{
        img{
            height: 2em;
        }
    }
}

/* Estilos para Nosotros */
#about {
    background-color:$secondary-back-ground;
    color: rgb(25, 21, 21);
    padding: 50px 0;
    text-align: center;

    h2{
        font-size: 3em;
        font-family: $tipografia-primaria , $tipografia-secundaria;
        color: #c594ea;
    }
}

.about-content {
    max-width: 800px;
    margin: 0 auto;
    p{
        font-size: 1.25em;
        margin-bottom: 20px;
    }
}


/* Estilos para Nuestros Servicios */
#services {
    background-color: #f4eaea;
    color: rgb(25, 21, 21);
    padding: 50px 0;
    text-align: center;
    h2{
        font-size: 3em;
        font-family: $tipografia-primaria , $tipografia-secundaria;
        color: #c594ea;
    }
}

.services {
    @include flex (column,center,center);
    gap: 30px;
    flex-wrap: wrap;
}

.service {
    width: 300px;
    background-color: $primary-back-ground;
    padding: 20px;
    border-radius:10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    h3{
        font-size: 2em;
        color: #c594ea;
    }
    p{
        font-size: 1.25em;
        color: $secondary-color;
    }
}


/* Estilos generales */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Estilo para la sección de preguntas frecuentes */
#faq {
    background-color: #f9f9f9;
    padding: 50px 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

/* Estilo para cada pregunta */
.faq-item {
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
    h3{
        font-size: 1.5em;
        color: #333;
        margin-bottom: 10px;
    }
    p{
        font-size: 1.1em;
        color: #666;
    }
}


/* Estilo de footer */
footer {
    background-color: $primary-back-ground;
    color: $secondary-color;
    text-align: center;
    padding: 20px;
    p{
        font-size: 0.8em;
    }
}

/* Fonts */
.jersey-15-regular {
    font-family: $tipografia-primaria, $tipografia-secundaria;
    font-weight: 400;
    font-style: normal;
}

/*media query*/
@import 'pages-styles/media-query';
