//variables de colores
$primary-back-ground:#2d2d2d;
$secondary-back-ground:#3C415C;
$color-button:blueviolet;
$color-button-hover:rgb(76, 23, 126);
$navbar-color:rgb(142, 17, 195);
$secondary-color:whitesmoke;
$subtitulo-color:#372048;

//variables tipografia
$tipografia-primaria:"jersey 15";
$tipografia-secundaria:sans-serif;